body {
    font-family: 'Poppins', sans-serif;
}

/* greatest show */
.greatest-show {
    position: absolute;
    width: 1321px;
    height: 646px;

    margin-top: 50px;
    background: #161616;
    border-radius: 30px;
}



.FIFA {
    position: absolute;
    width: 531px;
    height: 424px;
    left: 80px;
    top: 50px;

}

.text1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
}

p {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
}

.watch-live {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15px;
    gap: 10px;
    position: absolute;
    width: 130px;
    height: 50px;
    left: 100px;
    top: 529px;
    background: #DD0000;
    border-radius: 5px;
    text-align: center;
}

.txt {
    position: absolute;
    font-size: 1em;
    bottom: 0.3px;
}

.arrow {
    position: absolute;
    left: 58%;
    right: 2%;
    top: 20.83%;
    bottom: 20.83%;
    color: #FFFFFF;
}

.image img {
    position: absolute;
    left: 680px;
    width: 560px;
    top: 57px;
}

/* 2nd part */
.boxes {
    position: absolute;
    width: 312px;
    height: 312px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
}

.box-1 {
    position: absolute;
    width: 252px;
    height: 64px;
    top: 35px;
    left: 30px;
    background-color: #DD0000;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;


}

.box-2 {
    position: absolute;
    width: 252px;
    height: 64px;
    top: 134px;
    left: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}

.blog {
    position: absolute;
    width: 252px;
    height: 64px;
    top: 233px;
    left: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
}

.blog a {
    text-decoration: none;
    color: #161616;

}

/* match style */

.match-1 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 340px;
    top: 826px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.match-2 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 680px;
    top: 826px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.match-3 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 1020px;
    top: 826px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.match-4 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 340px;
    top: 1100px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.match-5 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 680px;
    top: 1100px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.match-6 {
    position: absolute;
    width: 312px;
    height: 250px;
    left: 1020px;
    top: 1100px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.flags {
    display: flex;
    position: absolute;
    height: 50px;
    top: 50px;
    left: 30px;
    align-items: center;
    gap: 20px;

}

.match-title {
    position: absolute;
    top: 120px;
    text-align: center;
    left: 60px;

}

.time-date {
    color: darkgrey;
    font-size: 15px;
}

/* footer */
.last {
    position: absolute;
    width: 1348px;
    height: 700px;
    left: 0px;
    top: 1500px;
    background: #161616;
}

.goal {
    position: absolute;
    width: 95px;
    height: 60px;
    left: 625px;
    top: 100px;
    color: #FFFFFF;
    font-size: 40px;
}

hr {
    position: absolute;
    width: 1320px;
    height: 0px;
    left: 10px;
    top: 250px;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-links {
    position: absolute;
    left: 200px;
    top: 45%;
    bottom: 5.13%;
    display: flex;

    gap: 60px;
}

.footer-links a {
    text-decoration: none;
    color: #B9B9B9;
}

.social {
    position: absolute;
    display: flex;
    top: 400px;
    font-size: 30px;
    left: 580px;
    gap: 50px;
}

.social a {
    color: #B9B9B9;
}